@media (max-width: 575px) {
    .ant-layout-sider-dark{
        position: absolute;
        z-index: 3;
        width: 100vw;
        right: 0;
        left: 0;
        height: 100%;
    }
  }
/*
    Remove middle divider on cards for dashboard
    view between main card body and buttons
 */
.ant-card-actions {
    border-top: none;
}

/*
    Remove dividers between buttons for cards
    on main dashboard view
 */
.ant-card-actions > li:not(:last-child) {
    border-right: none;
}